@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Russo+One&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
}

#menu-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-menu {
    background-color: transparent;
    color: white;
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
}
